<div class="hero">
  <br />
  <br />
  <div class="col-10 offest-1 hero-overlay text-center">
    <br />
    <br />
    <h1>Flixter</h1>
    <br />
    <h2>All for the music and music for all</h2>
    <br />
     <%= link_to 'View our courses . . .', courses_path, class: 'btn btn-success' %>
     <br />
     <br />
</div>   
</div>
<br />
<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>Amazing Courses</h3>
    <br />
    <p>Select from a number of disciplines and instruments</p>
  </div>
  <div class="col-12 col-sm">
    <h3>Learn At Your Own Pace</h3>
    <br />
    <p>Develop skills at your own rate, or revisit previous lessons anytime.</p>
  </div>
  <div class="col-12 col-sm">
    <h3>A Community of Musicians</h3>
    <br />
    <p>Join a community of other musiciains of all skill levels</p>
  </div>
</div>
